/*This style applies to my home page*/

.home {
  margin: 40px;
}

/* Nav style */

nav, .filterTitle {
  font-family: 'Permanent Marker', cursive;
}

.navLinks {
  color: rgb(51, 51, 116);
  font-size: 18px;
}

.title {
  font-size: 30px;
  color: rgb(51, 51, 116);
}

a:hover {
  color: rgb(51, 51, 116)
}

/*Footer*/

.footer {
  font-size: 11px;
  font-family: sans-serif
}

/*----CAROUSEL---*/

/* Applies for the images in the carousel*/

.imgs {
  width: 33px
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 30rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 28rem;
  border-radius: 40px
}

.featurette-divider {
  margin: 5rem 0;
}

.leaguePara, .leaguePara2 {
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
  color: white
}

.leaguePara2 {
  font-size: 65px;
}

/* End of styles for carousel */

/*Applies to parallax */

#parallaxTitle, #parallaxTitle2, #parallaxTitle3 {
  background-color: transparent;
  color: black;
  font-size: 30px
}

.para {
  color: rgb(0, 0, 0);
  background-color: rgb(223, 242, 255);
  text-align: center;
  padding: 20px 50px;
  text-align: justify;
  
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../images/homeimg2.jpg");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("../images/homeimg4.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/homeimg3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Border for forms*/

.formBorder {
  padding: 2%;
  margin-top: 100px;
  border-radius: 25px;
  border: 3px solid rgb(51, 69, 90);
  background-color: white;
  width: 720px;
}

/*Titles on every page */

.filterTitle {
  font-size: 35px
}

/*Dropdown Menus*/

#dropdownmenu {
  margin-left: 250px;
  width: 225px;
}

/* take out decoration from errors arrays */

li {
  list-style-type: none;
}

.hide {
  display: none
}

/*Footer*/

.footer {
  margin-top: 30px;
  font-size: 11px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Media query for extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .home {
    margin: 30px;
  }
  nav {
    font-size: 10px
  }
  #myCarousel {
    display: none
  }
  .formBorder {
    width: 339px
  }
  #parallaxTitle, #parallaxTitle2, #parallaxTitle3 {
    font-size: 15px
  }
  .para {
    padding: 10px 10px;
    text-align: justify
  }
  .bgimg-1, .bgimg-2, .bgimg-3 {
    opacity: 0.90;
  }
  .bgimg-1, .bgimg-2, .bgimg-3 {
    min-height: 200px;
  }
  .caption span.border {
    letter-spacing: 2px;
  }
  .filterTitle {
    font-size: 20px
  }
}

/* Media query for ipad */

@media only screen and (max-width: 1024px) {
  #myCarousel {
    display: none
  }
  .caption span.border {
    letter-spacing: 2px;
  }
}